<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>


    <div class="topnav" style="height: 45px;">
        <span class="menu-trigger animated fadeInDown" style="background-color:rgba(29, 29, 29, 0.3)">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </span>
        <img src="./img/2sherpas_logo.png" alt="sherpa_logo" style="display: block; margin-left: auto; margin-right: auto; height: 100%;">
      </div>

    <div class="site-info">
        <div class="primary-info">
            <!-- <h1>{{ page.title }}</h1> -->
            <h1 style="font-family: Helvetica;color: inherit; text-align:center;">{{ page.desc }}</h4>

        </div>

        {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" style="background-color: #e94b2c; border-color: #e94b2c;" href="{{ page.cta_link | prepend: site.baseurl }}"><i class="fa {{ page.cta_icon }}"></i>{{page.cta_text}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</section><!-- end sidebar -->
