---
layout: with-sidebar
---
{% assign author_posts = site.posts | where: "author_name", page.author_name %}

<div class="author-bio">

    <img src='{{ "/img/" | append : page.author_avatar | prepend: site.baseurl }}.jpg'>

    <div class="author-bio__info">
        {{ content }}
    </div>
</div>

<a href="../../cv/{{ page.author_name}}">
<div style="border: 2px solid black; display: inline-block; text-align: center; vertical-align: middle; padding: 12px 24px; border: 2px solid #000000; border-radius: 0px; background: #ffffff;font: normal normal normal 18px arial;color: #111111;">
    ▶︎ Check my CV
 </div>
</a>


<h2 class="favorites">All Post by {{ page.author_name }}</h2>

<div class="posts-block animated fadeIn ">

    {% for post in author_posts %}
        <article class="post">
          <div class="post-preview">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>


            {{ post.excerpt }}

            <p class="meta">
                <span>{{ post.author_name }}</span>
                <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            </p>
          </div>
        </article>
    {% endfor %}

</div>
