<!DOCTYPE html>
<html lang=" en ">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jaime Salcedo | Technical Lead Engineer</title>
  <link rel="stylesheet" href="/css/cv.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
</head>

<body>
  <div class="container header-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
        <h1>Jaime Salcedo</h1>
        <h2>Technical Lead Engineer</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
        <ul class="icons no-print">
          <li>
            <a target="_blank" href="https://github.com/jsalcedo1987" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/jaimesalcedo/"
              class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        </ul>
        <p>
          Email: <a href="mailto:jaime.salcedo.dev@gmail.com" target="_blank">jaime.salcedo.dev@gmail.com</a>
        </p>
        <p>
          Web:
          <a href="https://2sherpas.github.io/" target="_blank" class="">https://2sherpas.github.io/</a>
        </p>
      </div>
    </div>
  </div>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="container intro-container">
        <h3>About Me</h3>
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-4 col-md-3 no-print">
            <span class="profile-img" style="background-image: url(/img/jaime.jpg)"></span>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            <p>Hi 👋, my name’s Jaime and I have been writing software for 25 years; I became interested in software
              development when I was 7. Since then I have been on an adventure working in some challenging SW projects
              and meeting lots of inspiring people along the way.</p>
            <p>From the moment I gained access to a computer, I've enjoyed exploring their capacities.</p>
            <p>The life made me a Java code writer but my heart will be always with C.</p>
          </div>
        </div>
      </div>
      <div class="container projects-container">
        <h3>Projects</h3>

        <div class="row clearfix layout layout-top-middle">
          <div class="col-xs-12 col-print-12 details">
            <h4>2Sherpas</h4>
            <a href="https://2sherpas.github.io/" target="_blank" class="link">https://2sherpas.github.io/</a>
            <p class="no-print">
              <a href="https://github.com/sproogen/resume-theme" target="_blank">
                <i class="fa fa-github" title="2Sherpas Github link"></i>
              </a>
            </p>
          </div>
          <div class="col-xs-12 col-print-12">
            <p class="quote">Doing interesting things that matter.</p>
            <p>
              I don’t like to define myself by the work I’ve done. I define myself by the work I want to do and              
              <a href="https://2sherpas.github.io/">2Sherpas</a> is more than just a coding project, it means
              collaboration and passion about coding and innovation.</p>
            <p>As Steve Jobs said:
            <i>“You can’t connect the dots looking forward; you can only connect them looking backwards. So you have
                to trust that the dots will somehow connect in your future.”</i></p>
            <p>We are putting dots, and trying to figure out how we will connect them in the future.</p>
          </div>
        </div>


      </div>
      <div class="container experience-container">
        <h3>Experience</h3>
        <div class="row clearfix layout layout-top-middle">
          <div class="col-xs-12 col-print-12 details">
            <a href="https://www.linkedin.com/in/jaimesalcedo/" target="_blank" class="link">Visit my Linkedin for the most up-to-date version</a>
            <p class="no-print">
              <a href="https://www.linkedin.com/in/jaimesalcedo/" target="_blank">
                <i class="fa fa-linkedin" title="Linkedin Jaime Salcedo"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="row clearfix layout layout-left">
          
          <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
            <h4>Santander Technology</h4>
            <a href="https://santander.co.uk/" target="_blank" class="link">santander.co.uk</a>
            <p><b>Technical Lead Engineer</b></p>
            <p><b>Technical Expert</b></p>
            <p>July 2018 - Present</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            <p class="quote">Santander Technology is the software division for Santander UK Bank.
            </p>
            <p>During this time I've made really cool stuff using AWS, OpenShift, Kubernetes, SpringBoot... And designing SW architectures for products that are being used by literally millions of customers every day.
              And I've been leading some talks about: Flutter, Google AIY Voice, React Native VR, Microfrontends </p>
          </div>
        </div>

        <div class="row clearfix layout layout-left">
          <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
            <h4>Santander Technology</h4>
            <a href="https://santander.co.uk/" target="_blank" class="link">santander.co.uk</a>
            <p><b>Full Stack Lead Engineer</b></p>
            <p>January 2014 - July 2018</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            <p class="quote">Santander Technology is the software division for Santander UK Bank.
            </p>
            <p>Driving products design, designing SW architectures and deploying frontend and backend services in the cloud.</p>
          </div>
        </div>

        <div class="row clearfix layout layout-left">
          <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
            <h4>Santander Technology</h4>
            <a href="https://santander.co.uk/" target="_blank" class="link">santander.co.uk</a>
            <p><b>Software Integrator</b></p>
            <p>July 2012 - January 2014</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            <p class="quote">Santander Technology is the software division for Santander UK Bank.
            </p>
            <p>Integrator Software engineer coordinating source code, projects, teams, and components. This frees the developers to implement features in the software and also frees the quality assurance engineers to more broadly and deeply test the produced software.
              Integration Software engineering is the integration hub for more complex software development teams, sitting at the cross between development, product management, quality assurance and other engineering efforts.</p>
          </div>
        </div>


        <div class="row clearfix layout layout-left">
          <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
            <h4>Vector ITC Group</h4>
            <a href="https://santander.co.uk/" target="_blank" class="link">santander.co.uk</a>
            <p><b>Senior Developer</b></p>
            <p><b>Developer</b></p>
            <p>September 2009 - July 2012</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            <p>Developing products using Java, JSP and EJB for Santander UK Bank.</p>
          </div>
        </div>

      </div>
      <div class="container more-container">
        <h3>A Little More About Me</h3>
        <div class="row clearfix">
          <div class="col-md-12">
            <p>I am a father of 2 beautiful girls: Nahia and Emma. Both a little hurricanes, full of questions and creativity. 
              I don’t remember sleeping for years but they are the best thing that happened to me.</p>
            <p>My life is a composition of the family, work and all my side hobbies:</p>
            <ul>
              <li>Build and repair old computers & video consoles</li>
              <li>Graphic Design</li>
              <li>Video Editing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="container footer-container">
    <p>
      Jaime Salcedo -
      <a href="mailto:jaime.salcedo.dev@gmail.com" target="_blank">jaime.salcedo.dev@gmail.com</a>&nbsp;- References on
      request</p>
  </div>


</body>

</html>